.MuiDialogTitle-root {
    font-family: "Oswald", sans-serif !important;
}

.MuiFormHelperText-root.Mui-error {
    margin-left: 0px;
    font-size: 12px;
}

.MuiStepConnector-line.MuiStepConnector-lineHorizontal {
    border-top-width: 3px;
}
.Mui-active {
    .MuiStepConnector-line.MuiStepConnector-lineHorizontal {
        border-top-width: 3px;
        border-color: #1a5532;
    }
}
.Mui-completed {
    .MuiStepConnector-line.MuiStepConnector-lineHorizontal {
        border-top-width: 3px;
        border-color: #1a5532;
    }
}

.MuiTooltip-tooltip {
    background-color: #4f5355 !important;
    border-radius: 4px !important;
}
