.rdt_Table,
.rdt_TableHeadRow,
.rdt_TableRow {
    background-color: initial !important;
    color: #143127 !important;
}
.rdt_TableHeadRow {
    font-family: "Oswald", sans-serif !important;
    font-size: 14px;
}
.rdt_TableCell {
    font-size: 14px;
}
